  .flat-blue .login-box .login-form .login-header { color: #F9F9F9; }
  .flat-blue .login-box .login-form .login-body   { /*background-color: #F9F9F9;*/ }
  .flat-blue .login-box input { border: 1px solid; }
  .flat-blue .login-box .login-footer a { color: #FFF; }
  .flat-blue .login-box .login-footer a:hover {
    color: #FFF;
    text-decoration: underline; }
  .flat-blue .badge.primary { background-color: #353d47; }

body.login-page {
  /*background: url(../../img/app-header-bg.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  body.login-page .login-box {
    width: 100%;
    max-width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0; }
    body.login-page .login-box > .title { margin-bottom: 1em; }
    body.login-page .login-box > .row {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0; }
  body.login-page .login-form {
    padding: 0em; }
    body.login-page .login-form .login-header {
      margin-bottom: 1.2em;
      font-size: 1.5em; }
    body.login-page .login-form .login-body {
      padding: 1.5em;
      border-radius: 1px; }
    body.login-page .login-form input {
      /*margin-bottom: 0.8em;
      margin-top: 0.5em;
      padding: 1.2em 1em;*/
      font-size: 25px;
      border-radius: 1px; }
  body.login-page .login-button .btn {
    padding: 0.5em 2em;
    font-size: 1.1em;
    border-radius: 1px;
    margin-bottom: 0; }
  body.login-page .login-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }

@media (max-width: 768px) {
  body.login-page .login-form .login-header {
    margin-bottom: 1em; }
  body.login-page .login-box {
    width: 100%;
    max-width: 260px; } }
